.rightbar {
  flex: 3.5;
  position: relative;

  &__container {
    position: sticky;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    overflow-y: scroll;
  }

  &__wrapper {
    padding: 20px 20px 0 0;
  }

  &__ad {
    &__title {
      font-size: 16px;
      font-weight: 600;
      margin: 10px 0 10px;
    }

    &__img {
      width: 100%;
      border-radius: 5px;
    }
  }

  &__hr {
    margin: 10px 0;
    border: 1px solid #e4e6eb;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 10px;
  }

  &__friend-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__info {
    margin-bottom: 10px;

    &__item {
      margin-bottom: 5px;
    }

    &--key {
      margin-right: 5px;
      font-weight: 600;
      color: #555;
    }
  }

  &__followings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__following {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;

    &__img {
      width: 110px;
      height: 110px;
      border-radius: 5px;
      object-fit: cover;
    }

    &__name {
      display: block;
      max-width: 100%;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.birthday {
  &__container {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &__text {
    font-weight: 300;
    font-size: 15px;
  }

  &__text--bold {
    font-weight: 600;
  }
}

div.rightbar__container::-webkit-scrollbar {
  width: 12px;
}

div.rightbar__container::-webkit-scrollbar-track {
  display: none;
  background-color: #f1f1f1;
}

div.rightbar__container::-webkit-scrollbar-thumb {
  display: none;
  background-color: #ced0d4;
  border-radius: 5px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-clip: content-box;
}

.rightbar:hover > div.rightbar__container::-webkit-scrollbar-thumb {
  display: block;
}

.rightbar:hover > div.rightbar__container::-webkit-scrollbar-track {
  display: block;
}
